# ~/.gitconfig
#
# git(1) configuration file

[alias]
  ci = commit
  co = checkout
  st = status

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore

[credential]
  helper = osxkeychain

[user]
  name = Joep Loijens
  email = joep.loijens@gmail.com
