# ~/.atom/config.cson
#
# Atom configuration settings


'core':
  'themes': [
    'atom-light-ui'
    'atom-light-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/joep/Projects'
'editor':
  'fontSize': 11
  'fontFamily': 'menlo'
'welcome':
  'showOnStartup': false
'release-notes':
  'viewedVersion': '0.86.0'
