# ~/.atom/config.cson
#
# Atom configuration settings


'core':
  'disabledPackages': [
    'metrics'
  ]
  'themes': [
    'atom-light-ui'
    'atom-light-syntax'
  ]
'editor':
  'fontSize': 11
  'fontFamily': 'menlo'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
